<div class="d-flex justify-content-center flex-column" id="login">
    <div id="login-small">
        <div class="mt-2" id="login-aa">
            <a>Đăng nhập</a>
        </div>
        <div class="mt-5">
            <div class="" id="login-b">
                <b class="text-right">Email</b><a class="text-danger">(*)</a>
            </div>
            <div class="" id="login-input">
                <input type="text" class="form-control">
            </div>
            <div class="mt-4" id="login-b">
                <b class="text-right">Mật khẩu</b><a class="text-danger">(*)</a>
            </div>
            <div class="mt-3" id="login-input">
                <input type="password"  class="form-control">
            </div>
        </div>
        <div id="checkbox" class="mt-3">
            <input type="checkbox"> Nhớ tài khoản
        </div>
        <div id="login-submit" class="mt-3">
            <button type="submit">Đăng nhập</button>
        </div>
        <div  id="sigin">
            <p>Đăng ký ngay <a [routerLink]="['/singin']" routerLinkActive="router-link-active" >tại đây! </a></p>
        </div>
    </div>
   
</div>
