<div class="card" style="width: 38rem;">
    <div class="card-header bg-primary">
        Thông báo
    </div>
    <div class="card-body">

        <p class="card-text">Bài Viết của bạn đã được gửi tới quản trị viên!</p>
        <p class="card-text">Chúng tôi sẽ duyệt bài viết của bạn trong tời gian sớm nhất</p>
        <p class="card-text">Chân thành cảm ơn !</p>
    </div>
    <div class="text-center">
        <span class="spinner-grow spinner-grow-sm text-primary"></span>
        <span class="spinner-grow spinner-grow-sm text-primary"></span>
        <span class="spinner-grow spinner-grow-sm text-primary"></span>
        <span class="spinner-grow spinner-grow-sm text-primary"></span>
        <span class="spinner-grow spinner-grow-sm text-primary"></span>
    </div>

    <div class="d-flex m-3">
        <!-- <button [routerLink]="['/post/list']" routerLinkActive="router-link-active" type="button" class="btn btn-sm btn-secondary ">Trang chủ</button> -->
        <a href="user/profile" class="btn btn-sm btn-success ml-auto"> Chuyển đến trang cá nhân</a>
    </div>
</div>