<div class="card m-auto" style="width: 38rem;">
    <div class="card-header bg-primary">
        Thông báo
    </div>
    <div class="card-body">

        <p class="card-text">Bài Viết của bạn đã được gửi tới quản trị viên!</p>
        <p class="card-text">Chúng tôi sẽ duyệt bài viết của bạn trong tời gian sớm nhất</p>
        <p class="card-text">Chân thành cảm ơn !</p>
    </div>
    <div class="">
        <button [routerLink]="['/post/list']" routerLinkActive="router-link-active" type="button" class="btn btn-warning float-right m-4">Quay Lại Trang chủ</button>
    </div>
</div>