<div class="container">
    <div class="row">
        <i class="fas fa-users-cog text-dark mr-2" style="font-size: 30px;"></i>
        <h3>Thống kê Top 10 bài đăng có lượt xem nhiều nhất</h3>
        <hr>
    </div>
    <div class="row mt-5">
        <div class="card mb-2 mt-2" style="width: 100%" *ngFor="let postTopview of postTopviews; let i = index">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{postTopview.post?.imagePost1}}" class="card-img" alt="..." height="130px" routerLink="/detailpost/">
                </div>
                <div class="col-md-7">
                    <div class="card-body h-100 d-flex flex-column justify-content-between py-2">
                        <p class="card-title my-0 font-weight-bold">{{postTopview.post?.title}}</p>
                        <p class="font-weight-bold text-danger">{{postTopview.post?.price | number}} đ</p>
                        <div class="d-flex text-muted">
                            <small>
                                                    <i class="fas fa-calendar-alt mr-1"
                                                        style="font-size: 17px;"></i>Ngày đăng: {{postTopview.post?.created_at | date: 'd-M-y'}} |
                                                    <i class="fas fa-user-tie ml-2 mr-1" style="font-size: 20px;"></i>
                                                    Cá nhân |
                                                    <i class="fas fa-eye ml-2 mr-1"
                                                        style="font-size: 20px;"></i>Số lượt xem: {{postTopview.total_view}}
                                                </small>
                        </div>
                    </div>
                </div>
                <!-- Logo Top 3 -->
                <div class="col-md-1 mt-1" *ngIf="i==0">
                    <img src="https://image.flaticon.com/icons/svg/1435/1435675.svg" class="card-img" alt="..." height="50px" routerLink="/detailpost/">
                </div>
                <div class="col-md-1 mt-1" *ngIf="i==1">
                    <img src="https://image.flaticon.com/icons/svg/1435/1435676.svg" class="card-img" alt="..." height="50px" routerLink="/detailpost/">
                </div>
                <div class="col-md-1 mt-1" *ngIf="i==2">
                    <img src="https://image.flaticon.com/icons/svg/1435/1435677.svg" class="card-img" alt="..." height="50px" routerLink="/detailpost/">
                </div>

                <!-- End Logo Top 3 -->
            </div>
        </div>
    </div>
</div>