<div class="d-flex justify-content-center flex-column" id="login">
    <div id="login-small">
        <div class="card bg-light mb-5 p-4">
            <img style="height: 25%;width: 60%;margin-left: 20%;" src="assets/imageFolderOfProject/imageFolderOfPost2/logoCodeGymAdmin.png" class="card-img"
            alt="..." >
            <div class="card-body">
                        <form  action="" (ngSubmit)="onClickLogin()" [formGroup]="formLogin"style="margin-left: 10%;">
                                <div class="form-group row">
                                  <div class="col-sm-11 " >
                                        <input type="email" class="form-control" 
                                        formControlName="email" placeholder="email">
                                  </div>
                                </div>
                                <div class="form-group row">

                                  <div class="col-sm-11">
                                    <input type="password" class="form-control"  
                                    formControlName="password" placeholder="password">
                                  </div>
                                </div>
                               
                                  <button class="btn btn-primary "  style="margin-left: 20%;width: 50%;" type="submit">Đăng Nhập</button>
                               
                         </form>    
        </div>
    </div>
        
    </div>
   
</div>


<!--editues-->

     


<!-- ****************** Start Footer *********************** -->
