<div class="signin-big  d-flex justify-content-center flex-column">
    <div class="singin-small">
        <div class="signin-h2">
            <h2>Đăng ký thành viên</h2>
        </div>
        <div class="container-fluid">
            <hr>
        </div>
        <div class="row">
        <div class="signin col-6">
            <div id="singin-input">
                <input type="text" class="form-control mt-3" placeholder="Họ và tên">
            </div>
            <div id="singin-input">
                <input type="text" class="form-control mt-3" placeholder="Email">
            </div>
            <div id="singin-input">
                <input type="text" class="form-control mt-3" placeholder="Địa chỉ">
            </div>
            <div id="singin-input">
                <input type="text" class="form-control mt-3" placeholder="Số điện thoại">
            </div>
            <div id="singin-input">
                <input type="text" class="form-control mt-3" placeholder="Mật khẩu">
            </div>
            <div id="singin-input">
                <input type="text" class="form-control mt-3" placeholder="Xác nhận mật khẩu">
            </div>
            <div id="singin-button">
                <button type="submit">Đăng ký</button>
            </div>
            <p class="text-center mt-3">Đăng nhập ngay <a id="login" [routerLink]="['/login']" routerLinkActive="router-link-active" >tại đây!</a></p>

        </div>
        <div class="col-6">
            <img src="../../assets/img/signin.jpg" alt="" height="200px"
                width="auto">
                
        </div>
    </div>
    </div>
</div>
