<!-- *********** Start Menu Bar ************ -->
<div class="container-fluid bg-warning d-flex justify-content-center" style="position: fixed; top: 0px;z-index: 200;">
    <div class="row px-3" style="height:45px;width: 1000px; max-width: 1000px;">
        <div class="col-3 d-flex align-items-center">
            <!-- <img (click)=backToListPost() src="https://static.chotot.com/storage/marketplace/nha_white_logo.png"
                style="height: 30px;"> -->
            <img class="" (click)=backToListPost() src="/assets/img/logoCodegym.png" style="height: 40px;">
        </div>
        <div class="col-9 d-flex justify-content-end">
            <div class="h-100 d-flex align-items-center mr-3">
                <i class="fas fa-search mr-1" style="font-size: 20px;"></i><span style="font-size: 16px;">Tìm rao
                    vặt</span>
            </div>
            <div class="h-100 d-flex align-items-center mr-3">
                <i class="far fa-bell mr-1" style="font-size: 20px;"></i><span style="font-size: 16px;">Thông
                    báo</span>
            </div>
            <div class="h-100 d-flex align-items-center mr-3">
                <i class="far fa-comments mr-1" style="font-size: 20px;"></i><span style="font-size: 16px;">Chat</span>
            </div>
            <div class="h-100 d-flex align-items-center mr-3">
                <i class="fas fa-user-circle mr-1" style="font-size: 20px;"></i><span style="font-size: 16px;">Tôi
                    bán</span>
            </div>
            <div class="h-100 d-flex align-items-center mr-3">
                <i class="fas fa-ellipsis-h mr-1" style="font-size: 25px;"></i>
                <!-- <span style="font-size: 16px;"> -->
                <!-- Thêm</span> -->

                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown"
                        style="background-color: #fc9807;">Thêm
                        <span class="caret" style="font-size: 16px; color: white; "></span></button>
                    <ul *ngIf="user" class="dropdown-menu " style="background-color: #fc9807;">
                        <li class="text-center"> <i class="fa fa-user-circle mr-1" aria-hidden="true"
                                style="color: white;"></i><a [routerLink]="['/user/profile']"
                                routerLinkActive="router-link-active" style="color: white; font-size: 16px;">
                                {{user?.fullName}}</a></li>
                        <li class="text-center"><i class="fa fa-cogs" aria-hidden="true" style="color: white;"></i> <a style="color: white; font-size: 16px;">
                                Cài đặt</a></li>
                        <li class="text-center"><i class="fa fa-sign-in mr-1" style="color: white;"
                            aria-hidden="true"></i><a  id="logout-button" style="color: white; font-size: 16px;" (click)="logout()">Logout</a></li>
                    </ul>

                    <ul *ngIf="!user" class="dropdown-menu " style="background-color: #fc9807;">
                        <li class="text-center"> <i class="fa fa-user-circle mr-1" aria-hidden="true"
                                style="color: white;"></i><a [routerLink]="['/login']"
                                routerLinkActive="router-link-active" style="color: white; font-size: 16px;">
                            Đăng nhập</a></li>
                        <li class="text-center"> <i class="fa fa-sign-in mr-1" style="color: white;"
                                aria-hidden="true"></i><a [routerLink]="['/register']"
                                routerLinkActive="router-link-active" style="color: white; font-size: 16px;">
                                Dăng ký</a></li>
                        <li class="text-center"><a routerLink="/help" style="color: white; font-size: 16px;">Trợ giúp</a></li>
                    </ul>

                </div>
            </div>
            <div class="h-100 d-flex align-items-center">
                <button [routerLink]="['/post/add']" routerLinkActive="router-link-active"
                    class="btn btn-sm font-weight-bold" style="background-color: #fc9807;"><span
                        style="color: white; font-size: 12px;">ĐĂNG
                        TIN</span></button>
            </div>
        </div>
    </div>
</div>
<!-- *********** End Menu Bar ************ -->


<router-outlet></router-outlet>


<!-- ****************** Start Footer *********************** -->
<div class="container-fluid py-5" style="background-color:#dbdbdb;">
    <div class="row d-flex justify-content-around mx-auto" style="width: 1000px; max-width: 1000px;">
        <div class="col-2">
            <div>
                <p class="font-weight-bold">Liên Kết</p>
            </div>

            <div class="d-flex align-items-center">
                <i class="fab fa-facebook-square" style="font-size: 25px;"></i>
                <span class="ml-2">Facebook</span>
            </div>
            <div class="d-flex align-items-center">
                <i class="fab fa-google-plus-g" style="font-size: 25px;"></i>
                <span class="ml-2">Google+</span>
            </div>
            <div class="d-flex align-items-center">
                <i class="fab fa-youtube" style="font-size: 25px;"></i>
                <span class="ml-2">Youtube</span>
            </div>
        </div>

        <div class="col-2">
            <p class="font-weight-bold">Bản di động</p>
            <img class="mb-2" src="https://static.chotot.com/storage/marketplace/ios-logo.svg" alt="" height="32px">
            <img src="https://static.chotot.com/storage/marketplace/gg-play.svg" alt="" height="32px">
        </div>

        <div class="col-3">
            <p class="font-weight-bold mb-2">Hỗ trợ khách hàng</p>
            <p class="my-0 py-0">Trung tâm trợ giúp</p>
            <p class="my-0 py-0">An toàn mua bán</p>
            <p class="my-0 py-0">Quy định cần biết</p>
            <p class="my-0 py-0">Liên hệ hỗ trợ</p>
        </div>

        <div class="col-2">
            <p class="font-weight-bold mb-2">Về CodeGym</p>
            <p class="my-0 py-0">Giới thiệu</p>
            <p class="my-0 py-0">Tuyển dụng</p>
            <p class="my-0 py-0">Truyền thông</p>
            <p class="my-0 py-0">Blog</p>
        </div>

        <div class="col-2">
            <p class="font-weight-bold mb-2">Chứng nhận</p>
            <img src="https://static.chotot.com/storage/marketplace/cerfiticate.png" alt="" height="38px">
        </div>
    </div>



    <div class="row mx-auto mt-4 text-center d-flex justify-content-center" style="width: 1000px; max-width: 1000px;">
        <p class="text-center" style="font-size: 13px;">
            Công ty Đào tạo lập trình CodeGym - Địa chỉ: Tầng 10 ,Số 295 Nguyễn Tất Thành , Phường Thanh Bình, Đà Nẵng,
            550000. <br>
            <span>Giấy chứng nhận đăng ký doanh nghiệp số 0312120782 do Sở Kế Hoạch và Đầu Tư TP Đà Nẵng cấp ngày
                11/01/2013</span>
            <br>
            <span>Email: trogiup@chotot.vn - Đường dây nóng: (084)364452261</span>
        </p>
    </div>
</div>
<!-- ****************** End Footer *********************** -->